{block content}

<main class="portfolio-main">

        <div class="portfolio-list-wrapper">
            <ul class="portfolio-list">
                <li class="selected"><a n:href="Portfolio:default#Album_1">Album 1</a></li>
                <li><a n:href="Portfolio:default#Album_2">Album 2</a></li>
                <li><a n:href="Portfolio:default#Album_3">Album 3</a></li>
                <li><a n:href="Portfolio:default#Album_4">Album 4</a></li>
                <li><a n:href="Portfolio:default#Album_5">Album 5</a></li>
                <li><a n:href="Portfolio:default#Album_6">Album 6</a></li>
                <li><a n:href="Portfolio:default#Album_7">Album 7</a></li>
            </ul>
        </div>

        <div class="gallery-set image" id="Album_1">
            <a href="{$basePath}/img/photo_upload/svadba_5_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_5_2500px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_4_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_4_2500px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_6_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_6_2500px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_1_1200px.jpg"><img src="{$basePath}/img/photo_upload/svadba_1_1200px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_3_1200px.jpg"><img src="{$basePath}/img/photo_upload/svadba_3_1200px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_4_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_4_2500px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/portrety1.jpg"><img src="{$basePath}/img/photo_upload/portrety1.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/rodinne3.jpg"><img src="{$basePath}/img/photo_upload/rodinne3.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/portrety2.jpg"><img src="{$basePath}/img/photo_upload/portrety2.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/rodinne2.jpg"><img src="{$basePath}/img/photo_upload/rodinne2.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadby2.jpg"><img src="{$basePath}/img/photo_upload/svadby2.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_3_1200px.jpg"><img src="{$basePath}/img/photo_upload/svadba_3_1200px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_4_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_4_2500px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/portrety1.jpg"><img src="{$basePath}/img/photo_upload/portrety1.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_4_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_4_2500px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/portrety1.jpg"><img src="{$basePath}/img/photo_upload/portrety1.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/rodinne3.jpg"><img src="{$basePath}/img/photo_upload/rodinne3.jpg" alt=""></a>
        </div>

        <div class="gallery-set image" id="Album_2">
            <a href="{$basePath}/img/photo_upload/rodinne2.jpg"><img src="{$basePath}/img/photo_upload/rodinne2.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadby2.jpg"><img src="{$basePath}/img/photo_upload/svadby2.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_3_1200px.jpg"><img src="{$basePath}/img/photo_upload/svadba_3_1200px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_4_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_4_2500px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/portrety1.jpg"><img src="{$basePath}/img/photo_upload/portrety1.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_4_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_4_2500px.jpg" alt=""></a>
        </div>

        <div class="gallery-set image" id="Album_3">
            <a href="{$basePath}/img/photo_upload/svadba_4_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_4_2500px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/portrety1.jpg"><img src="{$basePath}/img/photo_upload/portrety1.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/rodinne3.jpg"><img src="{$basePath}/img/photo_upload/rodinne3.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_3_1200px.jpg"><img src="{$basePath}/img/photo_upload/svadba_3_1200px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/svadba_4_2500px.jpg"><img src="{$basePath}/img/photo_upload/svadba_4_2500px.jpg" alt=""></a>
            <a href="{$basePath}/img/photo_upload/portrety1.jpg"><img src="{$basePath}/img/photo_upload/portrety1.jpg" alt=""></a>
        </div>
</main>

{/block}