{block content}
<h1 n:block=title>Prihlasenie</h1>
<div class="card col-md-5 col-12 m-auto p-0">
    <div class="card-header"><h3>Prihlasenie</h3></div>
    <div class="card-body">
        {control signInForm}
    </div>
    <div class="card-footer">
        <p>Nemate prihlasenie? Tak sa <a n:href="Sign:up">zaregistrujte</a></p>
    </div>
</div>


