{block content}

<main class="contact-form">
        <h4>V prípde záujmu o fotenie, prosím, vyplňte kontaktný formulár.</h4>
        <div class="contact-wrapper">
            <div class="form-wrapper">
                <form class="form" action="#" method="POST" enctype="text/plain">
                    <input placeholder="Meno a priezvisko" type="text" name="name" required>
                    <input placeholder="e-mailová adresa" type="text" name="mail" required>
                    <textarea name="text" rows="5" cols="50" placeholder="e-mailová správa" required></textarea>
                    <a href='#' class='submit-button'>Odoslať</a>
                </form>
            </div>   
            
            <div class="form-img">
                <img src="{$basePath}/img/misc/close-up-camera.jpg" alt="camera">
            </div>
        </div>
    </main>

{/block}