
{block content}
	<main class="services-main">
		<h3 id="weddings">Služby</h3>
		<div class="wrapper">

			<div class="image item-1">
				<a href="{$basePath}/img/photo_upload/svadba_2_2500px.jpg">
					<img src="{$basePath}/img/photo_upload/svadba_2_2500px.jpg" alt="">
				</a>
			</div>

			<div  class="text item-2">
				<h2>Svadby</h2>
				<br>
				<h5>Svadobné balíky:</h5>
				<br>
				<ul>
					<li>MINIMAL: 150 € / 3h (min. 100 fotografií)</li>
					<li>CLASSIC: 330 € / 8 h (min. 300 fotografií)</li>
					<li>DELUXE: 450 € / 14 h (min. 500 fotografií)</li>
				</ul>
				<br>
				<h5>Ďalšie služby:</h5>
				<br>
				<ul>
					<li><b>Predsvadobné "rande" fotenie:</b> Skúšanie pózovania v pohodlnom oblečení niekoľko mesiacov pred veľkým dňom. Tieto fotky sa dajú použiť na svadobné oznámenia, ako prekvapenie pre svadobných hostí, alebo na dekoráciu svadby. 20 ks / 49 € (trvanie fotenia cca 1 hodinu)</li>
					<li id="family"><b>Handmade album "scrapbook":</b> 19 €</li>
				</ul>
			</div>

			<div  class="text item-3">
				<h2>Rodina a deti</h2>
				<br>
				<p><b>5 ks / 19 € v elektronickej podobe - každá ďalšia fotka 2,90 €</b></p>
				<ul>
					<li>v prípade štúdiového fotenia sa k cene pripočíta 15 € za prenájom štúdia</li>
					<li>možnosť fotenia aj u Vás doma</li>
					<li>v online galérií si sami môžete vybrať fotografie</li>
					<li id="portraits">fotografie posielam vo farebnej aj čierno-bielej verzii</li>
				</ul>
			</div>

			<div class="image item-4">
				<a href="{$basePath}/img/photo_upload/rodinne3.jpg">
					<img src="{$basePath}/img/photo_upload/rodinne3.jpg" alt="">
				</a>
			</div>

			<div class="image item-5">
				<a href="{$basePath}/img/photo_upload/portrety1.jpg">
					<img src="{$basePath}/img/photo_upload/portrety1.jpg" alt="">
				</a>
			</div>

			<div class="text item-6">
				<h2 id="product_photo">Portréty</h2>
				<br>
				<p><b>5 ks / 19 € v elektronickej podobe - každá ďalšia fotka 2,90 €</b></p>
				<ul>
					<li>v prípade štúdiového fotenia sa k cene pripočíta 15 € za prenájom štúdia</li>
					<li>v online galérií si sami môžete vybrať fotografie</li>
					<li >fotografie posielam vo farebnej aj čierno-bielej verzii</li>
				</ul>
			</div>

			<div class="text item-7">
				<h2>Produktové a firemné fotografie</h2>
				<br>
				<p>Od 49 € - cena závisí of miesta fotenia, dĺžky fotenia a samotného produktu. Profesionálne fotky Vám pomôžu osloviť potenciálnych zákazníkov.</p>
			</div>

			<div class="image item-8">
				<a href="{$basePath}/img/photo_upload/produkty1.jpg">
					<img src="{$basePath}/img/photo_upload/produkty1.jpg" alt="">
				</a>
			</div>
		</div>

	</main>
{/block}
{*<h1 n:block="title">SuperBlog</h1>*}

{*<a n:href="Post:create" class="btn btn-info" n:if="$user->isLoggedIn()">Vytvořit příspěvek</a>*}

{*<div class="wrapper" n:snippet="homesnip">*}
{*	{foreach $posts as $post}*}

{*	<div class="post card mt-4 mb-4">*}
{*		<div class="card-header">*}
{*			<h2><a n:href="Post:show $post->id">{$post->title}</a></h2>*}
{*		</div>*}
{*		<div class="card-body">*}
{*			<div>{$post->content|truncate:200}</div>*}
{*		</div>*}
{*		<div class="date card-footer">{$post->created_at|date:'F j, Y'} od {$post->user['fullname']}*}
{*			{if $user->loggedIn && (($user->id == $post->user['id']) || $user->isInRole('admin'))} *}
{*				<a n:href="delete! $post->id" class="ajax btn btn-warning">Zmazať</a>*}
{*			{/if}*}
{*		</div>*}


{*		*}
{*	</div>*}
{*	{/foreach}*}
{*</div>*}