<!DOCTYPE html>
<html lang="sk">
<head>
	<title>Viktória Photography</title>
	<meta charset="UTF-8">


	<meta name="wiewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">

	<meta name="description" content="Viktória Lénartová - fotografka">
	<meta name="author" content="Peter Kisel">
	<meta name="robots" content="index, follow">
	<meta name="keywords" content="fotograf,svadobny fotograf, svadba, nevesta, svadobne fotky">
	<link rel="shortcut icon" href="{$basePath}/img/misc/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
	<link rel="stylesheet" href="{$basePath}/css/main.css" type="text/css">

	<script>
            App = {
                basePath: {$basePath},
            };
	</script>
</head>

<body class="{if $presenter->isLinkCurrent('Homepage:default')}home{/if}">
<header class="head-container">

	<a n:href="homepage:default" id="logo">Viktória photograpy logo</a>

	<nav class="menu">
		<ul class="primary">
			<li class="list-item" id="bars"><a href=""><i class="fas fa-bars"></i></a></li>
			<li class="list-item"><a n:href="Homepage:default">Úvod</a></li>
			<li class="list-item">
				<a n:href="Services:default">Služby</a>
				<ul class="sub">
					<li class="list-item"><a n:href="Services:default#weddings">Svadby</a></li>
					<li class="list-item"><a n:href="Services:default#family">Rodina a deti</a></li>
					<li class="list-item"><a n:href="Services:default#portraits">Portréty</a></li>
					<li class="list-item"><a n:href="Services:default#product_photo">Produktové a firemné</a></li>
				</ul>
			</li>
			<li class="list-item"><a n:href="Blog:default">Blog</a></li>
			<li class="list-item"><a n:href="Portfolio:default">Portfólio</a></li>
			<li class="list-item"><a n:href="Contact:default">Kontakt</a></li>
		</ul>
		<div class="lang-select">
			<a href="">SK</a>
			<a href="">HU</a>
		</div>
	</nav>

</header>

{include content}

<footer class="footer-container">
	<div class="left-container">
		<div class="footer-info">
			<i class="fas fa-info"></i>
		</div>
		<div class="bubble-container">
			<div class="speech-bubble">
				<p>
					Stránku vytvoril Peter Kisel
					<br>
					<a href = "mailto: peter.kisel2@gmail.com">peter.kisel2@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
	<div class="footer-contacts">
		<div class="wrapper-left">
			<p> Viktória Lénártová
				<br>
				Dolný Chotár (okres Galanta)
			</p>
		</div>

		<div class="wrapper-right">
			<p>
				<a class="bold" href = "mailto: lenartovaviktoria@gmail.com"><i class="fas fa-envelope"></i> lenartovaviktoria@gmail.com</a>
				<br>
				&copy 2020 Viktória Lénártová
			</p>
		</div>

	</div>

	<div class="footer-social">
		<a href="https://www.facebook.com/Vikt%C3%B3ria-Photography-107026907340187" target="_blank">
			<i class="fab fa-facebook-square"></i>
		</a>
		<a href="https://www.instagram.com/lenart.viktoria/" target="_blank">
			<i class="fab fa-instagram-square"></i>
		</a>
	</div>

</footer>

<div id="overlay">
	<div class="img-container">

	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
<script src="{$basePath}/js/main.js"></script>
</body>

</html>

{*<!doctype html>*}
{*<html lang="sk_SK">*}
{*  <head>*}
{*    <!-- Required meta tags -->*}
{*    <meta charset="utf-8">*}
{*    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*}
{*	*}

{*    <!-- Bootstrap CSS -->*}
{*    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">*}


{*    <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>*}
{*  </head>*}
{*  <body>*}
{*		<nav class="navbar navbar-expand-lg navbar-light bg-light">*}
{*		<a class="navbar-brand" href="{$basePath}/">Navbar</a>*}
{*		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">*}
{*			<span class="navbar-toggler-icon"></span>*}
{*		</button>*}

{*		<div class="collapse navbar-collapse" id="navbarSupportedContent">*}
{*			<ul class="navbar-nav mr-auto">*}
{*				<li class="nav-item"><a n:href="Homepage:" class="nav-link">Články</a></li>*}
{*				<li class="nav-item"><a n:href="Event:" class="nav-link">Event</a></li>*}
{*				<li class="nav-item"><a n:href="Products:" class="nav-link">Produkty</a></li>*}
{*				<li class="nav-item dropdown">*}
{*					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">*}
{*					{if $user->isLoggedIn()}*}
{*						Prihlásený {$user->identity->fullname}*}

{*					{else}Neprihlásený{/if}*}
{*					</a>*}
{*					<div class="dropdown-menu" aria-labelledby="navbarDropdown">*}
{*						{if $user->isLoggedIn()}*}
{*						<a n:href="Sign:out" class="nav-link">Odhlásit</a>*}
{*						{else}*}
{*						<a n:href="Sign:in" class="nav-link text-link">Prihlásiť sa</a>*}
{*						<a n:href="Sign:up" class="nav-link text-link">Registrovať sa</a>*}
{*						{/if}*}
{*					</div>*}
{*				</li>*}
{*				</ul>*}
{*		</div>*}

{*		{snippetArea}*}
{*			{control basketWidget}*}
{*		{/snippetArea}*}
{*		</nav>*}
{*  *}

{*	<div class="container">*}
{*	{snippet flashess}*}
{*		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>*}
{*	{/snippet}*}
{*		{include content}*}
{*	</div>*}

{*	*}

{*    <!-- Optional JavaScript -->*}
{*    <!-- jQuery first, then Popper.js, then Bootstrap JS -->*}
{*    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>*}
{*    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>*}
{*    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>*}
{*	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>*}

{*	<script src="{$basePath}/js/naja/Naja.min.js"></script>	*}
{*	<script src="{$basePath}/js/script.js"></script>*}
{*	*}


{*	{ifset script}{include script}{/ifset}*}
{*  </body>*}
{*</html>*}