{block content}

    <main class="blog">
        <div class="post-container">
            <div class="blog-post 1">

                <div class="blog-image image">
                    <a href="{$basePath}/img/photo_upload/portrety1.jpg">
                        <img src="{$basePath}/img/photo_upload/portrety1.jpg" alt="">
                    </a>
                </div>

                <div class="blog-perex">
                    <h4>Blog post No. 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minus
                        vero dignissimos maxime similique labore, exercitationem ratione nam obcaecati
                    </p>
                    <a class="blog-button" href="">Čítaj daľej</a>
                </div>
            </div>

            <div class="blog-post 1">

                <div class="blog-image image">
                    <a href="{$basePath}/img/photo_upload/portrety1.jpg">
                        <img src="{$basePath}/img/photo_upload/portrety1.jpg" alt="">
                    </a>
                </div>

                <div class="blog-perex">
                    <h4>Blog post No. 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minus
                        vero dignissimos maxime similique labore, exercitationem ratione nam obcaecati
                    </p>
                    <a class="blog-button" href="">Čítaj daľej</a>
                </div>
            </div>

            <div class="blog-post 1">

                <div class="blog-image image">
                    <a href="{$basePath}/img/photo_upload/portrety1.jpg">
                        <img src="{$basePath}/img/photo_upload/portrety1.jpg" alt="">
                    </a>
                </div>

                <div class="blog-perex">
                    <h4>Blog post No. 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minus
                        vero dignissimos maxime similique labore, exercitationem ratione nam obcaecati
                    </p>
                    <a class="blog-button" href="">Čítaj daľej</a>
                </div>
            </div>

            <div class="blog-post 1">

                <div class="blog-image image">
                    <a href="{$basePath}/img/photo_upload/portrety1.jpg">
                        <img src="{$basePath}/img/photo_upload/portrety1.jpg" alt="">
                    </a>
                </div>

                <div class="blog-perex">
                    <h4>Blog post No. 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minus
                        vero dignissimos maxime similique labore, exercitationem ratione nam obcaecati
                    </p>
                    <a class="blog-button" href="">Čítaj daľej</a>
                </div>
            </div>

            <div class="blog-post 1">

                <div class="blog-image image">
                    <a href="{$basePath}/img/photo_upload/portrety1.jpg">
                        <img src="{$basePath}/img/photo_upload/portrety1.jpg" alt="">
                    </a>
                </div>

                <div class="blog-perex">
                    <h4>Blog post No. 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minus
                        vero dignissimos maxime similique labore, exercitationem ratione nam obcaecati
                    </p>
                    <a class="blog-button" href="">Čítaj daľej</a>
                </div>
            </div>

            <div class="blog-post 1">

                <div class="blog-image image">
                    <a href="{$basePath}/img/photo_upload/portrety1.jpg">
                        <img src="{$basePath}/img/photo_upload/portrety1.jpg" alt="">
                    </a>
                </div>

                <div class="blog-perex">
                    <h4>Blog post No. 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minus
                        vero dignissimos maxime similique labore, exercitationem ratione nam obcaecati
                    </p>
                    <a class="blog-button" href="">Čítaj daľej</a>
                </div>
            </div>
        </div>
    </main>

{/block}