//colors
$col-background: #D9D9D9;
$col-font-primary: #454545;
$col-font-secondary: #D9D9D9;

$gradient-start: darken($color: $col-font-primary, $amount: 10%);
$gradient-end: darken($color: $col-font-primary, $amount: 10%);

//font families
$font-menu: 'Oswald', sans-serif;
$font-primary: 'Dancing Script', cursive;
$font-secondary: 'Lora', serif;

//font size
$font-menu-size: 25;

//font awesome PATH
$fa-font-path: "../fontawesome/webfonts";

//footer height
$footer-height: calc-em(70);

//header height #D9D9D9
$header-height: calc-em(70);
