@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import "./_functions.scss";
@import "./_variables.scss";
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

/**
	CLEAR DEFAULT
**/
/* #region  CLEAR DEFAULT STYLE */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	color: $col-font-primary;
	vertical-align: baseline;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background-color: $col-background;
}

.home {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
/* #endregion */

/**
	HEADER
**/
/* #region  HEADER */
.head-container {
	position: fixed;
	top: 0;
	height: $header-height;
	margin: 0 auto;
	background-color: darken($color: $col-font-primary, $amount: 10%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 10;
	width: 100%;
	color: $col-font-secondary;
}

#logo {
	background-image: url("../img/misc/logo-biele.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	flex-shrink: 1;
	text-indent: -9999px;
	width: $header-height*2.5;
	height: $header-height;
	margin: 0;
	position: relative;
}

.menu {
	display: flex;
	height: 60%;
	width: 50%;
	min-width: calc-em(550);
	align-self: flex-end;
	background-image: linear-gradient(to right, $gradient-start 0%, $gradient-end 100%);
	border-radius: calc-em(10);
	align-self: center;
	align-items: stretch;
}

#bars {
	display: none;
	color: $col-font-secondary;
}

.primary {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: stretch;
	
	> .list-item {
		display: flex;
		position: relative;
		font-family: $font-menu;
		font-size: calc-em(25);
		width: 20%;
		justify-content: space-evenly;
		border-radius: calc-em(10);
		
		> a {
			display: flex;
			text-align: center;
			color: $col-font-secondary;
		}
	}
}

.sub {
position: absolute;
visibility: hidden;
flex-direction: column;
top:100%;
width: calc-em(150);
left: 50%;
transform: translateX(-50%);

	> .list-item {
		display: block;
		font-size: inherit;
		padding: inherit;
		margin-top: calc-em(5);
		border-radius: calc-em(15);
		text-align: center;
		position: relative;
		transform: scale(0);
		background: $gradient-end;

		&:first-child {
			margin-top: calc-em(15);
		}

		a {
			color: $col-font-secondary;
		}
	}
}

.primary .list-item:hover {
	background-color: darken($color: $col-font-primary, $amount: 50%);
	transition: background-color 350ms ease-in;
	

	.sub {
		visibility: visible;
		position: absolute;
		z-index: 20;

		> li{
			transform: scale(1);
			&:first-child{
			transition-delay: 150ms;
			}
		}

		@for $k from 1 to 12 {
			> li:nth-child( #{$k} ){
			transition: transform 350ms cubic-bezier(0.42, 0.83, 0.49, 1.35) (150ms * $k); 
			}
		}  
	}
}

.lang-select {
	
	a {
		display: block;
		line-height: calc-em(20);
		margin-right: calc-em(15);
		color: $col-font-secondary;
	}
}
/* #endregion */
	
/**
	SLIDER
**/
/* #region  SLIDER */
.slider-container {
	
	height: 100%;
	margin: 0 auto;
	overflow: hidden;

	.slider-landscape {
		display: block;
		object-fit: cover;
		height: 100%;
		height: auto;
	}
	
	.slider-portrait {
		display: none;
	}
}
/* #endregion */

/**
	FOOTER
**/
/* #region  FOOTER */

.footer-container {

	display: flex;
	justify-content: space-between;
	height: $footer-height;
	position: fixed;
	z-index: 10;
	bottom: 0;
	background-color: darken($color: $col-font-primary, $amount: 10%);
	align-items: center;
	width: 100%;

}

.footer-info {
	display: flex;
	height: calc-em(23);
	
	i {
		color: $col-font-secondary;
	}
}	

.fa-info {
	display: flex;
	justify-content: center;
	line-height: calc-em(20);
	border-radius: 50%;
	border: solid 1px $col-font-secondary;
	width: calc-em(23);
	height: calc-em(23);
	margin: 0 calc-em(10);
	cursor: pointer;
}

.left-container {
	display: flex;
	width: calc-em(250);
	height: 100%;
	align-items: center;
}

.bubble-container {
	display: flex;
	width: 80%;
	height: 75%;
}

.speech-bubble {
	display: none;
	background: darken($color: $col-font-primary, $amount: 50%);
	border-radius: .4em;
	font-size: 0.8rem;
	font-family: $font-secondary;
	color: $col-font-secondary;
	padding: calc-em(10);
	text-align: center;
	margin-left: calc-em(18);

	p, a {
		color: $col-font-secondary;
	}
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 60px;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: darken($color: $col-font-primary, $amount: 50%);
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}

.footer-contacts {
	display: flex;
	width: 40%;
}

.wrapper-left, .wrapper-right {
	width: 50%;

	h4, p, a, b {
		font-family: $font-secondary;
		font-size: 0.8rem;
		text-align: center;
		color: $col-font-secondary;
	}

	i {
		color: $col-font-secondary;
	}
}

.wrapper-left {
	border-right: solid 2px $col-font-secondary;
}
		
.footer-social {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 250px;
	height: 100%;
	position: relative;
	font-size: calc-em(30);

	a {
		display: flex;
		text-decoration: none;
		margin-right: calc-em(10);

		i {
			color: $col-font-secondary;
		}
		
		
		&:hover {
			transform: scale(1.3);
			transition: ease-in 350ms;

			> i {
				color: white;
				transition: ease-in 350ms;
			}
		}
	}
}
/* #endregion */

/**
	SLUŽBY SUBSITE
**/

/* #region  SLUZBY SUBSITE */
.services-main {
	display: grid;
	margin-top: 100px;
	justify-content: center;
	font-family: $font-secondary;
	scroll-behavior: smooth;

	h3 {
		font-family: $font-primary;
		font-size: 60px;
		text-align: center;
		margin-bottom: 50px;
	}
}

.wrapper {
	display: grid;
	max-width: calc-em(1100);
	font-family: $font-secondary;
	grid-template-columns: 48% 48%;
	
	column-gap: 4%;
	row-gap: 60px;
	margin: 0 50px 100px 50px;
}

.image a img {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.item-1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.item-3 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.text {
	font-family: $font-secondary;

	h1, h2, h3, h4, h5, ul, li, p, b {
		font-family: inherit;
		color: inherit;
	}

	h2 {
		font-family: $font-primary;
		font-size: 40px;
		font-weight: 600;
	}

	ul {
		padding-left: 20px;
	}

	li {
		list-style: disc;
		list-style-position: outside;
	}

	b {
		font-weight: 600;
	}
}
/* #endregion */

/**
	BLOG SUBSITE
**/
/* #region BLOG  */

.blog {
	display: block;
}

.post-container {
	display: grid;
	max-width: calc-em(1100);
	margin: 100px auto 90px auto;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px
}

.blog-post {
	width: 100;
	border: 1px solid #969696;
	border-radius: 5px;
}

.blog-image  {
	width: 100%;

	a img {
	width: 100%;
	border-radius: 5px;
	}
}

.blog-perex {
	padding: 2rem;

	h4 {
		font-size: 25px;
		margin-bottom: 10px;
	}
}

.blog-button {
	display: block;
	width: 120px;
	height: 35px;
	background-color: $col-font-primary;
	color: $col-font-secondary;
	text-align: center;
	border-radius: 5px;
	margin: 20px auto 0 auto;
	line-height: 35px;
}
/* #endregion */

/**
	PORTFOLIO
**/
/* #region  PORTFOLIO */

.portfolio-main {
	max-width: 1140px;
	margin: 100px auto 100px auto;
}

.portfolio-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-family: $font-menu;
	font-size: 1.5rem;

	li {
		display: block;
		padding: 5px 10px;
		margin: 10px 5px;
	}

	.selected, li:hover {
		background-color: $col-font-primary;
		color: $col-background;
		border-radius: 15px;

		a {
			color: inherit;
		}
	}
}

.gallery-set {
	columns: 4 300px;
	column-gap: 0.5rem;
	margin: 20px 0 200px 0;

	a {
		display: block;
		margin: 0 1rem 1rem 1rem;
		display: inline-block;
		max-width: 100%;
		height: auto;

		img {
			max-width: 100%;

		}
	}
}

/* #endregion */

/**
	CONTACT
**/
/* #region CONTACT  */
.contact-form {
	margin: 100px 5% 100px 5%;
}

.contact-form h4 {
	font-size: 25px;
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}

.contact-wrapper {
	display: flex;
	flex-direction: row;
	max-width: 900px;
	height: auto;
	margin: 0 auto;
	font-family: $font-secondary;
}

.form-wrapper {
	width: 50%;
}

.form-img {
	width: 50%;

	img {
		width: 100%;
	}
}

.contact-form input, textarea {
	display: block;
	width: 90%;
	margin-bottom: 20px;
	padding: 5px;
	border-style: none solid solid none;
	border-color: #8f8f8f;
	border-width: 1px;
}

.contact-form input {
	height: 40px;
}

.contact-form input:focus-visible, textarea:focus-visible {
	border: 2px solid #727272;
	outline: none;
}

.submit-button {
	display: block;
	width: 100px;
	height: auto;
	padding: 3px 10px;
	border-radius: 4px;
	background-color: $col-font-primary;
	text-align: center;
	color: $col-font-secondary;
	font-weight: 500;
}
/* #endregion */

/**
LIGHTBOX
**/
/* #region  LIGHTBOX */
#overlay {
	display: none;
	background: rgba($color: #000000, $alpha: 0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;

	.img-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	
		img {
			display: flex;
			max-height: 85%;
			width: auto;
			max-width: 90%;
			border: solid 7px #ffffff;
			margin: 0 calc-em(30);
		}
	}
}
/* #endregion */

/**
	MEDIA QUERIES
**/	
/* #region  MEDIA QUERIES */
@media screen and (min-width: 850px) and (max-width: 1240px) {
	
	.slider-container {
	
		width: auto;
		margin: 0 auto;
		overflow: hidden;
	
		.slider-landscape {
			display: block;
		}
	
		.slider-portrait {
			display: none;
		}
	}

	.slider-landscape {
		margin-top: between(90px, 10px, 850px, 1240px);
	}

	.footer-container {

		justify-content: space-between;

		.wrapper-left {
			padding-right: calc-em(30);
		}

		.wrapper-right {
			padding-left: calc-em(30);
		}

		.footer-contacts {
			width: 60%;
		}

	}
	
	.left-container {
		width: 10%;
	}

	.footer-social {
		width: 10%;
	}

	.bubble-container {
		position: absolute;
		top: -80%;
		width: calc-em(300);
	}

	.speech-bubble {
		display: none;
		position: relative;
		background: darken($color: $col-font-primary, $amount: 50%);
		border-radius: .4em;
		font-size: 0.8rem;
		font-family: $font-secondary;
		color: $col-font-secondary;
		padding: calc-em(10);
		text-align: center;
		margin-left: calc-em(0);
	}
	
	.speech-bubble:after {
		
		content: '';
		position: absolute;
		transform: rotate(-90deg);
		left: calc-em(37);
		top: 100%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-right-color: darken($color: $col-font-primary, $amount: 50%);
		border-left: 0;
		margin-top: -20px;
		margin-left: -20px;
	}

	.post-container {
		margin-left: 50px;
		margin-right: 50px;
	}

}


@media screen and (max-width: 1100px) {
	.slider-container {
		width: 100%;
		height: auto;

		.slider-landscape {
			display: none;
		}

		.slider-portrait {
			display: block;
			margin: 0 auto;
			//width: 100%;
			height: auto;

			img {
				max-width: 1100px;
				object-fit: scale-down;
				
			}
		}
	}
}

@media screen and (max-width: 850px) {


	.menu {
		justify-content: flex-end;
		align-items: stretch;
		align-self: flex-start;
		width: 25%;
		min-width: 0;
		height: 100%;
	}

	.primary {
		position: relative;
		flex-direction: column;
		height: $header-height + (5*(calc-em(50)));
		border-radius: calc-em(10);
		width: 90%;
	}

	.primary .list-item {
		width: 100%;
		height: calc-em(50);
		padding: 0 20px;
		border-radius: 0;
		background-color: darken($color: $col-font-primary, $amount: 10%);
		transform: scale(0);

		&:first-child{
			transition: transform 350ms cubic-bezier(0.42, 0.83, 0.49, 1.35) 0ms;
		}

		@for $k from 1 to 12 {
			&:nth-child( #{$k} ){ 
			transition: transform 350ms cubic-bezier(0.42, 0.83, 0.49, 1.35) (100ms * $k);
			}
		}

		a {	
			position: static;
			transform: translate(0, 0);
			line-height: calc-em(50, 25);
			height: calc-em(50, 25);
		}
	}

	.primary .list-item:hover {
		background-color: darken($color: $col-font-primary, $amount: 50%);
		transition: background-color 350ms ease-in;
	}

	.sub {
		display: none;
	}

	#bars {
		height: calc-em(70, 25);
		width: calc-em(70, 25);
		padding: 0 0;
		display: flex;
		align-self: flex-end;
		transform: scale(1);

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 70px;
			width: 100%;
			
			i {
				color: $col-font-secondary;
			}
		}
	}

	.lang-select {
		height: 70%;
		align-self: center;
	}
		
	.lang-select a {
		height: 50%;
		line-height: 150%;
		margin: 0 calc-em(15);
	}

	/* .slider-container {
		width: 100%;
		height: auto;

		.slider-landscape {
			display: none;
		}

		.slider-portrait {
			display: block;
			margin: 0 auto;
			height: auto;

			img {
				max-width: 1000px;
				object-fit: scale-down;
				
			}
		}
	} */

	.wrapper {
		grid-template-columns: 100%;
		margin: 0 5% 100px 5%;
	}

	.item-1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.item-2 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		padding-bottom: 20px;
		border-bottom: solid 2px $col-font-primary;
	}

	.item-3 {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
		padding-bottom: 20px;
		border-bottom: solid 2px $col-font-primary;
	}

	.item-4 {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.item-5 {
		grid-column: 1 / 2;
		grid-row: 5 / 6;
	}

	.item-6 {
		grid-column: 1 / 2;
		grid-row: 6 / 7;
		padding-bottom: 20px;
		border-bottom: solid 2px $col-font-primary;
	}

	.item-7 {
		grid-column: 1 / 2;
		grid-row: 8 / 9;
	}

	.item-8 {
		grid-column: 1 / 2;
		grid-row: 7 / 8;
	}

	.item-2, .item-3, .item-6, .item-7 {
		h2 {
			text-align: center;
		}
	}

	.footer-container {

		display: flex;
		justify-content: space-between;
		width: 100%;
		height: $footer-height;
		position: fixed;
		z-index: 10;
		bottom: 0;
		background-color: darken($color: $col-font-primary, $amount: 10%);
		align-items: center;
		flex-wrap: wrap;
	}

	.left-container {
		width: 10%;
	}

	.footer-info {
		display: flex;
		width: 100%;

		.fa-info {
			display: flex;
			justify-content: center;
			text-align: center;
			line-height: calc-em(20);
			border-radius: 50%;
			border: solid 1px $col-font-secondary;
			width: calc-em(23);
			height: calc-em(23);
			margin: 0 0 0 calc-em(10);
			cursor: pointer;
		}
	}
	
		

	.bubble-container {
		position: absolute;
		top: -80%;
		width: calc-em(300);
	}

	.speech-bubble {
		display: none;
		position: relative;
		background: darken($color: $col-font-primary, $amount: 50%);
		border-radius: .4em;
		font-size: 0.8rem;
		font-family: $font-secondary;
		color: $col-font-secondary;
		padding: calc-em(10);
		text-align: center;
		margin-left: calc-em(0);
	}
	
	.speech-bubble:after {
		
		content: '';
		position: absolute;
		transform: rotate(-90deg);
		left: calc-em(37);
		top: 100%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-right-color: darken($color: $col-font-primary, $amount: 50%);
		border-left: 0;
		margin-top: -20px;
		margin-left: -20px;
	}

	
	.footer-contacts {
		display: flex;
		width: 60%;
	}	
	
		.wrapper-right {
			width: 100%;
			padding: 0 calc-em(15);

			h4, p {
			font-family: $font-secondary;
			font-size: 0.8rem;
			text-align: center;
			}
		}

		.wrapper-left {
			display: none;
		}

	.footer-social {
		display: flex;
		width: 10%;
		position: static;
		order: 3;
		font-size: 30px;
		

		a {
			display: inline-block;
			text-decoration: none;
			margin: calc-em(5);
			
			&:hover {
				transform: scale(1.3);
				transition: ease-in 350ms;

				> i {
					color: white;
					transition: ease-in 350ms;
				}
			}
		}
	}

	.post-container {
		display: grid;
		max-width: calc-em(1100);
		margin: 20px 50px 90px 50px;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px	
	}

	.form-img {
		display: none;
	}

	.form-wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {

	.footer-social {
		flex-direction: column;

		a {
			margin: 0;
		}	
	}

	.post-container {
		display: grid;
		max-width: calc-em(1100);
		margin: 20px 30px 90px 30px;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px
	}

	.blog-perex {
		padding: 1rem;
	}
}

/* #endregion */
